body
{
    font-family: "apercu" , sans-serif;
}

.top-nav
{
    background: transparent;
   border-bottom: 1px solid rgba(0,0,0,0.1) !important;
   z-index: 12124141;

}



.main-menu
{
     border-bottom: 1px solid rgba(0,0,0,0.1);
}

.lang-switch-div
{
    border-right: 1px solid rgba(0,0,0,0.1);
}

.top-nav #lang-switch{
  border-bottom: 1px solid rgba(0,0,0,0.1);

}

.mob-menu
{
   color: white !important;

}

#submit-mob
{
    background-color: #f3891f;
/*    color: white !important;*/
}

/* Section 1 */



.mob-overlay
{
    font-size: 80px;
    line-height: 1.2;
    font-family: 'Roboto Condensed', sans-serif;
}

.h-button
{
   background-color: rgba(243,137,31,0.5);
  color: rgba(255,255,255,0.8);
    font-size: 15px;
}

header button:hover
{
    background-color:  #f3891f;;
}

.collobration
{
    position: absolute;
    bottom: 16%;
    right: 0.5%;
    color: white;
    text-align: left;
}

.collobration img
{
    width: 90px;
}



header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
/*  background-color: black;*/
/*  opacity: 0.5;*/
  z-index: 1;
}



/* Section 2 */

/* Apercu font */
/*
@font-face{
    font-family: 'apercu';
    src: url(css/Apercu-Bold.otf) format("opentype");
}
.mob-section2
{
      background-color: #f4f7f6;

}
*/

.mob-section2 h2
{
    border-bottom: 4px solid black;
    width: 10%;
}

.mob-section2 .ap-font
{
    font-family: 'apercu' , sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 1;
}

.mob-section2 p
{
    font-size: 16px;
    font-weight: 300;
}

.svg-parent
{
    position: relative;
    overflow: hidden;
}

.svg-child
{
    border: 21px solid #f4f7f6;
    box-sizing: border-box;
    position: absolute;
    top: 8%;
    left: 25%;

}

.mob-section3
{
    background-color: #f3891f;
    font-family: 'apercu' , sans-serif;
    position: relative;
    z-index: -2;
    overflow: hidden;

}

.mob-section3 h1
{

    font-size: 48px;
    font-weight: 800;

}

.mob-section3 h2
{
    border-bottom: 4px solid white;
    width: 10%;
}

.mob-section3 h5 , h6
{
    line-height: 1.7;
}

.mob-section3 h5 a , .mob-section3 h6 a
{
    text-decoration: underline;
}

.mob-section3 img
{
    position: absolute;
     z-index: -1;

}

#img-circle
{

    top: 5%;
    right: 30%;
    width: 12%;
}

#img-cylinder
{
    bottom: -10%;
    right: 13%;
    width: 8%;
}

/* Circles */

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.flex-wrapper p
{
    font-size: 11px;
}


.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
/*  margin: 2px auto;*/
  max-width: 70%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
    stroke: rgba(255,255,255,0.3);
  stroke-width: 2;
}

.circle {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: rgba(255,255,255,0.8); ;
}



.percentage {
  fill: white;
  font-family: sans-serif;
  font-size: 12.5px;
  text-anchor: middle;
    padding-top: 5px;

}



#sites
{
    font-size: 16px;

}

/* Section 4 */

.mob-section4 {
    color: #202121;
    background-color: #f4f7f6;
    font-family: "apercu" , sans-serif;
    z-index: -2;
    position: relative;
}

.mob-section4 h2
{
     border-bottom: 4px solid black;
    width: 10%;
}

.mob-section4 h1
{
    font-size: 45px !important;
    line-height: 1.1;

}

.section4-imgs
{
    border: 8px solid white;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.section4-imgs img
{
    border: 2px solid  #f4f7f6;
/*    box-sizing: border-box;*/
}

.section4-balls
{
    position: absolute;
    z-index: -1;
}

#ball1
{
    right: 8%;
    top: 5%;
    width: 11%;
}

#ball2
{
    left: 3%;
    top: 20%;
    width: 9%;
    filter: blur(2px);

}

#ball3
{
    right: 18%;
    top: 50%;
    width: 7%;
    filter: blur(5px);
}

/* section 5 */

.mobsection5
{
/*  z-index: -2;*/
    position: relative;
}

.mobsection5 button
{
     background-color: #f3891f;
    color: white;
    border-radius: 30px;
}


.mobsection5 img
{
    z-index: -1;
    position: absolute;
    width: 10%;
    left: 40%;
}



.mobsection5 button:hover
{
   background: rgba(0,0,0,0.7);
    color: white;
}

/* section 5 */
.mob-section6
{
    position: relative;
    background-color: #f4f7f6;
    color: #202121;
}
.mob-section6 h2
{
     border-bottom: 4px solid black;
     width: 6%;
    position: absolute;
    left: 47%;
}

.mob-section6 h7
{
    font-weight: 700;
}

.mob-section6 .teal a
{
    color: #49c5b6;

}

.mob-section6 .black a
{
   color: black;
}

.mob-section6 a:hover{
   color:  #202121;
}

.discover
{
    width: 100%;
    line-height: 60px;
}



.member {

    position: relative;
    overflow: hidden;
}

.member img
{
    width: 100%;
    transition: all 1s;
}

.member .caption
{
    background-color: rgba(42,63,85,0.7);
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
    width: 100%;

}
.member:hover img
{
    transform: scale(1.1,1.1);
}
.member:hover .caption
{
    opacity: 1;
}
